body {
    margin: 0;
}

.wrapper {
    margin: auto;
    width: 80%;

}

.header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo {

    width: 190px;
    height: 35px;
    border: dashed 1px red;



}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav__item {
    padding: 0 13px;

}

.header__nav__item:last-child {
    padding-right: 0;
}

.section {
    border: dashed 1px red;
    margin-top: 246px;
}

.section-main {

    width: 50%;
    border: dashed 1px red;
}

.section-main__title {
    width: 567px;
    height: 255px;
    margin-top: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');


.header__nav__item
{
text-decoration: none;
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #000;
}
.section-main__title{
    font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 66px;
display: flex;
align-items: center;
}
.section-main__subtitle{

    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
}
.section-main__button{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}